.customDotList {
    margin-bottom: 16px;
}

.carouselContainer {
    position: relative;
}

.carouselArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselContainer:hover .carouselArrow {
    opacity: 1;
}

.customLeftArrow {
    left: 10px;
}

.customRightArrow {
    right: 10px;
}

.carouselContainer li {
    transform-style: flat !important;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.newChip {
    animation: wave 5s infinite;
}

@keyframes pageTurn {
    0% {
        transform: perspective(1000px) rotateY(0);
        transform-origin: top left;
        opacity: 1;
    }

    50% {
        transform: perspective(1000px) rotateY(-90deg);
        transform-origin: top left;
        opacity: 0.5;
    }

    100% {
        transform: perspective(1000px) rotateY(-180deg);
        transform-origin: top left;
        opacity: 1;
    }
}

.carouselImage {
    transition: transform 0.6s ease-in-out;
}

.carouselImage.turn {
    animation: pageTurn 0.6s forwards;
}